<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parentalapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <application
        android:name=".playground.ScreenTimeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".reward.apprestrict.RewardDetailAppActivity"></activity>
        <activity android:name=".reward.rewardhistory.RewardHistoryActivity" />
        <activity android:name=".admin.rewarditem.AddRewardItemActivity" />
        <activity android:name=".admin.rewarditem.RewardItemConfigActivity" />
        <activity android:name=".admin.questionbank.QuestionBankDetailActivity" />
        <activity android:name=".admin.questionbank.QuestionBankActivity" />
        <activity android:name=".reward.RewardResultActivity" />
        <activity android:name=".admin.rewardpoint.RewardPointControlActivity" />
        <activity android:name=".reward.RewardDetailActivity" />
        <activity android:name=".reward.RewardMainActivity" />
        <activity android:name=".quiz.record.AttemptDetailActivity" />
        <activity android:name=".quiz.QuizSelectionActivity" />
        <activity android:name=".quiz.record.RecordMainActivity" />
        <activity android:name=".quiz.question.QuizResultActivity" />
        <activity android:name=".quiz.question.QuestionDisplayActivity" />
        <activity android:name=".quiz.QuizMainActivity" />
        <activity android:name=".admin.ParentMainActivity" />
        <activity
            android:name=".admin.apprestrict.AppRestrictActivity"
            android:label="@string/title_activity_app_restrict" />
        <activity android:name=".admin.PinActivity" />
        <activity
            android:name=".admin.screentime.GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings" />
        <activity android:name=".playground.PlaygroundActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".playground.ScreenTimeService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>